#root {
  width: 100%;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;

  
}

body{
  background-image: url(./assets/alice-in-wonderland.jpg);
    background-repeat: no-repeat;
    filter: brightness(0.7);
  filter: blur(0.1px);
}

.characterStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: rgb(225, 32, 61);
  border: 3px solid lightblue;
  background-color: rgb(192, 243, 243);
  width: 50%;
  margin: 20px;
  

}

h1 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 3rem;
}



h4 {
  color: rgb(105, 82, 149);
  font-weight: 800;
  background-color: rosybrown;
  width: 100%;
  border-radius: 5px;

  padding: 15px;
  font-size: large;
}

button {
  background-color: rgb(237, 85, 108);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: medium;
  font-weight: 800;
  

}

input {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: medium;
  font-weight: 800;
}






@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


